@charset "ISO-8859-1";
body {
    background-image:url("https://wallpaperaccess.com/full/1457225.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
   
}

div {
	text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    color: firebrick;

}



.main {
	margin-top: 83px;
	font-size: larger;
	color: darkblue;
}

.button3 {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 20px;
	color: crimson;
	margin-top: 8px;
	background-color: wheat;;
	margin-left: 2px;
	border-radius: 10px;
	height: 41px;
	width: 38px;
}
.box {
   overflow: hidden;
    border-radius: 4px;
    box-shadow: 8px 6px 42px #000;
    margin: auto;
    padding: 56px;
    text-align: center;
    float: center;
    font-weight: 400;
    width: 417px;
    height: 312px;
    margin-top: 77px;
    backdrop-filter: blur(2px);
    }
