@charset "ISO-8859-1";
body {
	background-image: url("https://wallpaperaccess.com/full/1457225.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

h2 {
	text-align: center;
}

div {
	text-align: center;
	font-size: 20px;
	margin-top: 4px;
	color: darkred;
}

.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
.box {
   overflow: hidden;
    border-radius: 4px;
    box-shadow: 8px 6px 42px #000;
    margin: auto;
    padding: 56px;
    text-align: center;
    float: center;
    font-weight: 400;
    width: 419px;
    height: 565px;
    margin-top: 8px;
    backdrop-filter: blur(2px);
 }
.button3 {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 20px;
	color: crimson;
	margin-top: 8px;
	background-color: wheat;;
	margin-left: 2px;
	border-radius: 10px;
	height: 41px;
	width: 38px;
}
.input{
    padding: 1px;
    width: 40%;
}